/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

.FilmCard {
  border: 2px solid black;
  box-shadow: 2px 2px 5px black;
  width: 300px;
  border-radius: 20px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.FilmCard:hover {
  border: 2px solid #ffffff;
}

.FilmCardTitle {
  background-color: aliceblue;
  height: 40px;
  border-top: 1px solid black;
  padding-top: 5px;
  padding-left: 10px;
  text-align: left;
  border-bottom-right-radius: 17px;
  border-bottom-left-radius: 17px;
}
.FilmCardButtons {
  text-align: end;
  padding-right: 10px;
  border-top-right-radius: 17px;
  border-bottom-left-radius: 17px;
  height: 40px;
  width: 27%;
  background-color: #ffffff;
}
.input-wrapper input {
  width: 100%;
  background-color: var(--primary);
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: var(--white);
  font-size: 1.25rem;
}
.input-wrapper {
  border: 1px solid #ccc;
  border-radius: 4px;
}

.crewImages {
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  /* border: 2px solid black; */
  height: 150px;
  /* border-radius: 15px; */
}
